* {
    box-sizing: border-box;
    position: relative;
}

a {
    text-align: center;
}

title {
    display: none;
}

main {
    max-width: 1380px;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1.landing {
    text-transform: uppercase;
    font-size: 50px;
    margin: 0 0 50px 0;
}

h1 {
    text-transform: uppercase;
    margin: 0 0 40px 0;
    text-align: center;
}

.button {
    text-decoration: none;
    color: #ffffff;
    background-color: #5ECA13;
    text-transform: uppercase;
    font-size: 18px;
    padding: 16px 0;
    width: 200px;
    display: inline-block;
    margin: 0 10px 20px 10px;
    border: 2px solid #5ECA13;
    transition: .3s ease;
    border-radius: 10px;
}

.button:hover {
    color: #000000;
}

.button.transparent {
    color: #5ECA13;
    background-color: white;
    border: 2px solid #5ECA13;
}

.logo {
    width: 600px;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: block;
    position: absolute;
    top: 0;
}

.container-middle {
    padding: 80px 100px;
    border-radius: 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #58738b;
    opacity: 0.8;
}

.container-middle.main {
    width: 100%;
    margin: 120px 0;
}

select {
    width: 100%;
}
/*LOGIN PAGE*/
.login-form {
    width: 650px;
}

.login-form .form-check {
    margin: 0 0 35px 0;
}

input{
    font-size: 18px;
    margin: 0 0 15px 0;
    width: 100%;
}

form .form-group {
    text-align: left;
    margin: 0;
    line-height: 26px;
}

.button.small {
    font-size: 17px;
    padding: 10px 0;
    width: 200px;
}

.button.full-width {
    width: unset;
    padding: 10px 40px;
}

table {
    display: table;
}

.login-form .cen {
    margin-left: 15%;
}
/*MAIN*/
table {
    margin: 0 auto;
    border-radius: 16px;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-collapse: collapse;
    border-spacing: 0;
}

th {
    border-bottom: 2px solid #8E8E8E;
    padding: 8px 50px;
}

td {
    padding: 8px 50px;
}

tr {
    border-bottom: 1px solid #ACACAC;
}

tr:last-child {
    border: none;
}

/*
tr:hover th, tr:hover td {
    background-color: rgba(175, 175, 200, 1);
    transition: .3s ease;
}

tr:hover th {
   border-radius: 16px 6px 6px 16px;
}

tr:hover td:last-child {
   border-radius: 6px 16px 16px 6px;
}

td {
    border: 1px solid;
    padding: 8px 20px;
}

th {
    border: 1px solid #0059a7;
    border-right: 1px solid #ffffff;
    background: #0059a7;
    color: #ffffff;
    padding: 8px 20px;
}

table th:last-child {
    border-right: 1px solid #0059a7;
}
*/
.main .button-kingdom {
    display: flex;
    align-content: center;
    justify-content: center;
    margin: 50px 0 0 0;
}

/*MY ACCOUNT*/
.my-account-form {
    width: 650px;
}

/*BACKGROUND*/
body {
    background-image: url('../gif/bg.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*NEW TRANSACTION*/

/*MY ACCOUNT*/
.my-account .button{
    margin: 0;
    left: 50%;
    transform: translateX(-50%);
}

/*VIEW ACCOUNTS*/
.view-accounts {
    width: 650px;
}

.view-accounts select {
    margin-bottom: 40px;
}

/*CREATE ACCOUNT*/
.create-account select {
    margin-bottom: 40px;
}

/*ADMIN PANEL*/
.admin-panel {
    width: 650px;
}

.admin-panel .button {
    display: block;
    margin: auto;
}

.admin-panel .hl {
    display: flex;
}

.admin-panel .hl .divider {
    margin: 40px;
}

/*VIEW ACCOUNT TRANSACTIONS*/

.view-acc-trans .ha {
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-acc-trans input{
    width: 450px;
}

.view-acc-trans select{
    width: 450px;
}

.view-acc-trans .center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-acc-trans .center .button {
    display: block;
    margin: auto;
    width: 50%;
}

.view-acc-trans h2 {
    text-align: center;
}

/*ADMIN VIEW USER*/
.admin-view-user .admin-user-info{
    padding: 80px 100px;
    border-radius: 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #58738b;
    opacity: 0.8;
    float: left;
    margin-left: 10%;
}

.admin-view-user .change-user-details {
    padding: 50px 80px;
    border-radius: 16px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    background-color: #58738b;
    opacity: 0.8;
    margin-left: 5%;
    margin-right: 10%;
}

#change-account-details {
    width: 650px;
}

.admin-view-user .change-user-details .button{
    margin: 0;
    padding: 10px;
}

.admin-view-user .al {
    display: flex;
    margin-left: 20%;
}

.admin-view-user .al .divider {
    margin: 20px;
}

/*UNAPPROVED TRANSACTIONS*/
.unap-trans .container-middle{
    padding: 80px 30px;
}

.unap-trans .button {
    padding: 5px;
    margin: 0;
    width: 150px;
}

.unap-trans td{
    padding: 8px 35px;
}

.unap-trans .ha {
    display: flex;
    justify-content: center;
    align-items: center;
}

.unap-trans .ha .divider {
    margin: 20px;
}

.unap-trans .ha a {
    margin: 0;
    width: 200px;
    padding: 16px 0;
}

/*MISC*/
.button.transparent.blue {
    color: #135ECA;
    border-color: #135ECA;
}

.button.transparent.red{
    color: #CA135E;
    border-color: #CA135E;
}