<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin panel</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<main class="admin-panel">
<div class="container-middle">
  <h1>Admin panel</h1>
  <form method="get" action="/adminView-user">
    <label for="userEmail">User e-mail</label>
    <input type="text" id="userEmail" name="userEmail" class="form-control" required>
    <button type="submit" class="button">View user</button><br><br>
  </form>
  <form method="get" action="/view-account-transactions">
    <label for="selectedAccount">User account number</label>
    <input type="text" id="selectedAccount" name="selectedAccount" class="form-control" required>
    <button type="submit" class="button">View transactions</button><br>
  </form>

  <form method="get" action="/adminView-unapprovedTransactions">
    <button type="submit" class="button transparent">View unapproved transactions</button><br>
  </form>
<div class="hl">
  <a th:href="@{/home}" class="button transparent">Home</a>
  <div class="divider"></div>
  <a th:href="@{/logout}" class="button transparent">Logout</a>
</div>
  <p style="color: red" th:text="${error}"></p>
</div>
</main>
</body>
</html>