<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin panel</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<main>
<div class="container-fluid text-center">
  <h1>Admin panel</h1>
  <form method="get" action="/adminView-user">
    <label for="userEmail">User e-mail</label>
    <input type="text" id="userEmail" name="userEmail" required>
    <button type="submit">View user</button><br><br>
  </form>
  <form method="get" action="/view-account-transactions">
    <label for="selectedAccount">User account number</label>
    <input type="text" id="selectedAccount" name="selectedAccount" required>
    <button type="submit">View transactions</button><br><br>
  </form>

  <form method="get" action="/adminView-unapprovedTransactions">
    <button type="submit">View unapproved transactions</button><br><br>
  </form>

  <a th:href="@{/home}">Home
  <a th:href="@{/logout}">Logout</a>
  <p style="color: red" th:text="${error}"></p>
  </a>
</div>
</main>
</body>
</html>