<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>JavaVault Banking | Create a New Account</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<main class="create-account">
<div class="container-middle">
  <h1>Create a new account</h1>
  <form th:action="@{/create-account}" th:object="${account}" method="post" class="mt-4">
    <label>Account Type:</label>
    <select th:field="*{accountType}" required>
      <option th:each="type : ${T(com.bernarsk.onlinebanking.models.Account).ACCOUNT_TYPES}" th:value="${type}" th:text="${type}"></option>
    </select>
    <br />
    <button type="submit" class="button">Create new account</button>
    <a class="button transparent" th:href="@{/home}">Home</a>
  </form>

</div>
</main>
</body>
</html>