<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Online Banking | Forgot Password</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
  <div class="login-form">
    <h1>Login Page</h1>
    <hr>
    <form method="post" th:action="@{/forgot-password}">
      <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" class="form-control" id="email" th:field="*{user.email}" required>
      </div>
      <a th:href="@{/register}">Register</a>
      <button type="submit" class="btn btn-primary">Recover password</button>
      <div th:if="${error}">
        <p style="color: red" th:text="${error}"></p>
      </div>
    </form>
  </div>
</div>
</body>
</html>