<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Online Banking | Login or Register</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<main>
  <div class="container-middle main">
    <div class="container-fluid text-center">
  <h2>Welcome to JavaVault, <span th:text="${user.getName()}"></span>!</h2>
  <a class="button full-width" th:href="@{/create-account}">Create a new bank account</a>
<!--  <p>Your user level is: <span th:text="${userLevel}"></span></p>-->
<!--  <p>Your user ID is: <span th:text="${userId}"></span></p>-->
  <h1>Your accounts:</h1>
  <table>
    <tr>
      <th>Account Number</th>
      <th>Balance</th>
      <th>Account Type</th>
    </tr>
    <tbody>
    <tr th:each="account : ${accounts}">
      <td th:text="${account.accountNumber}"></td>
      <td th:text="${#numbers.formatDecimal(account.balance, 1, 'DEFAULT', 2, 'DEFAULT')} + ' EUR'"></td>
      <td>
        <span th:switch="${account.accountType}">
          <span th:case="0">Checking</span>
          <span th:case="1">Savings</span>
        </span>
      </td>
    </tr>
    </tbody>
  </table>
      <div class="button-kingdom">
      <a th:if="${userLevel == 1}" class="button transparent blue" th:href="@{/admin-panel}">Admin panel</a></br>
  <a class="button transparent" th:href="@{/my-account}">My account</a></br>
  <a class="button transparent" th:href="@{/new-transaction}">New transaction</a></br>
  <a class="button transparent" th:href="@{/view-accounts}">View accounts</a></br>
  <a class="button transparent red" th:href="@{/logout}">Logout</a>
        </div>
</div>
  </div>
</main>
</body>
</html>