<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Online Banking | Login or Register</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
  <h1>Welcome to JavaVault! </h1>
  <div th:text="${session.email}"></div>
  <a th:href="@{/create-account}">Create a new bank account</a>
  <p>Your user level is: <span th:text="${userLevel}"></span></p>
  <p>Your user ID is: <span th:text="${userId}"></span></p>
  <h1>Your accounts:</h1>
  <table>
    <thead>
    <tr>
      <th>Account Number</th>
      <th>Balance</th>
      <th>Account Type</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="account : ${accounts}">
      <td th:text="${account.accountNumber}"></td>
      <td th:text="${account.balance}"></td>
      <td>
        <span th:switch="${account.accountType}">
          <span th:case="0">User</span>
          <span th:case="1">Admin</span>
        </span>
      </td>
    </tr>
    </tbody>
  </table>
  <a th:href="@{/new-transaction}">New transaction</a></br>
  <a th:href="@{/view-accounts}">View accounts</a></br>
  <a th:href="@{/logout}">Logout</a>
</div>
</body>
</html>