<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>JavaVault | Login or Register</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<main>
<img th:src="@{/img/logo-no-background.png}" class="p-5 logo"/>

<div class="container-middle">
<div class="container-fluid text-center">
    <h1 class="landing">JavaVault<br/>Internet Banking</h1>
    <a class="button" th:href="@{/login}">Login</a>
    <a class="button transparent" th:href="@{/home}">Home</a>
</div>
</div>

</main>
</body>
</html>