<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New Transaction</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
</head>
<body>
  <h1>Change your account details</h1>
  <div id="change-account-details">
    <form th:action="@{/my-account}" th:object="${user}" method="post" class="mt-4">
      <div class="form-group">
        <label for="name1">Name:</label>
        <input type="text" class="form-control" id="name1" th:field="*{name}" required>
      </div>

      <div class="form-group">
        <label for="surname">Surname:</label>
        <input type="text" class="form-control" id="surname" th:field="*{surname}" required>
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" th:field="*{email}" required>
      </div>

      <div class="form-group">
        <label for="password1">Enter your new password (if you want to change it):</label>
        <input type="password" class="form-control" id="password1" name="password1">
      </div>

      <div class="form-group">
        <label for="password2">Enter your new password again:</label>
        <input type="password" class="form-control" id="password2" name="password2">
      </div>

      <div class="form-group">
        <label for="password">Enter your current password to save changes:</label>
        <input type="password" class="form-control" id="password" th:field="*{password}" required>
      </div>

      <button type="submit" class="btn btn-primary">Update my account</button>
    </form>
    <div th:if="${error}">
      <p style="color: red" th:text="${error}"></p>
    </div>
  </div>
</body>
</html>