<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New Transaction</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<main class="new-trans">
<div class="container-middle">
  <h1 class="mt-5">New transaction</h1>
  <form th:object="${transaction}" th:action="@{/new-transaction}" method="post">
      <label for="accountFrom">Sender account:</label> <br>
    <div class="form-group">
      <select id="accountFrom" name="accountFrom">
        <th:block th:each="account : ${accounts}">
          <option th:value="${account.accountNumber}" th:text="${account.accountNumber}"></option>
        </th:block>
      </select>
    </div>

    <label for="accountTo">Receiver account:</label><br>
    <div class="form-group">
    <input type="text" id="accountTo" class="form-control" name="accountTo" maxlength="21" th:field="*{accountTo}" required>
    </div>

    <label for="amount">Amount:</label> <br>
    <div class="form-group">
    <input type="number" min="0.01" class="form-control" step="0.01" id="amount" name="amount" th:field="*{amount}" required>
    </div>

    <label for="reference">Description:</label> <br>
    <div class="form-group">
    <input type="text" id="reference" class="form-control" name="reference" th:field="*{reference}" required>
    </div>

    <input class="button" type="submit" value="Submit">
    <a class="button transparent" th:href="@{/home}">Home</a>
  </form>
  <p style="color: red" th:text="${error}"></p>
</div>
</main>
</body>
</html>