<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>New Transaction</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid text-center">
  <h1 class="mt-5">New transaction</h1>
  <form th:object="${transaction}" th:action="@{/new-transaction}" method="post">
      <label for="accountFrom">Sender account:</label>
      <select id="accountFrom" name="accountFrom">
        <th:block th:each="account : ${accounts}">
          <option th:value="${account.accountNumber}" th:text="${account.accountNumber}"></option>
        </th:block>
      </select><br><br>
    <label for="accountTo">Receiver account:</label>
    <input type="text" id="accountTo" name="accountTo" maxlength="21" th:field="*{accountTo}" required><br><br>

    <label for="amount">Amount:</label>
    <input type="number" min="0.01" step="0.01" id="amount" name="amount" th:field="*{amount}" required><br><br>

    <label for="reference">Description:</label>
    <input type="text" id="reference" name="reference" th:field="*{reference}" required><br><br>

    <input type="submit" value="Submit">
  </form>
  <p style="color: red" th:text="${error}"></p>
</div>
</body>
</html>