<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Online Banking | Login or Register</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<div class="register-form">
  <h1 class="mt-5">User Registration</h1>

  <form th:action="@{/register}" th:object="${user}" method="post" class="mt-4">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" th:field="*{email}" required>
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" class="form-control" id="password" th:field="*{password}" required>
    </div>

    <button type="submit" class="btn btn-primary">Register</button>
  </form>
</div>
</body>
</html>