<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>View accounts</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<main class="view-accounts">
<div class="container-middle">
  <h1>View Accounts</h1>
  <form method="get" action="/view-account-transactions">
    <label for="selectedAccount">Select an Account:</label>
    <select id="selectedAccount" name="selectedAccount">
      <th:block th:each="account : ${accounts}">
        <option th:value="${account.accountNumber}" th:text="${account.accountNumber}"></option>
      </th:block>
    </select>
    <button class="button transparent" type="submit">View Transactions</button>
    <a th:href="@{/home}" class="button transparent">Home</a></br>
  </form>
</div>
</main>
</body>
</html>