<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>View accounts</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<main>
<div class="container-fluid text-center">
  <h1>View Accounts</h1>
  <form method="get" action="/view-account-transactions">
    <label for="selectedAccount">Select an Account:</label>
    <select id="selectedAccount" name="selectedAccount">
      <th:block th:each="account : ${accounts}">
        <option th:value="${account.accountNumber}" th:text="${account.accountNumber}"></option>
      </th:block>
    </select>
    <button type="submit">View Transactions</button>
  </form>
  <a th:href="@{/home}">Home</a></br>
</div>
</main>
</body>
</html>