<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>View Account Transactions</title>
  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>
<body>
<main class="view-acc-trans">
<div class="container-middle">
  <h1>View Account Transactions</h1>
  <h2>Account Number: <span th:text="${selectedAccount}"></span></h2>

<div class="center">
  <form method="get">
    <div class="mb-3">
      <label for="startDate" class="form-label">Start Date:</label>
      <input type="date" class="form-control" id="startDate" name="startDate" th:value="${startDate}">
    </div>
    <div class="mb-3">
      <label for="endDate" class="form-label">End Date:</label>
      <input type="date" class="form-control" id="endDate" name="endDate" th:value="${endDate}">
    </div>
    <div class="mb-3">
      <label for="status" class="form-label">Status:</label>
      <select class="form-select" id="status" name="status">
        <option value="">All</option>
        <option value=0 th:selected="${status == 0}">Pending</option>
        <option value=1 th:selected="${status == 1}">Approved</option>
        <option value=2 th:selected="${status == 2}">Canceled</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="reference" class="form-label">Reference:</label>
      <input type="text" class="form-control" id="reference" name="reference" th:value="${reference}">
    </div>
    <input type="hidden" name="selectedAccount" th:value="${selectedAccount}" />
    <button type="submit" class="button transparent">Filter</button>
    <br>
  </form>
</div>

  <table>
    <thead>
    <tr>
      <th>Transaction ID</th>
      <th>From</th>
      <th>To</th>
      <th>Amount</th>
      <th>Date</th>
      <th>Reference</th>
      <th>Status</th>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="transaction : ${accountTransactions}">
      <tr>
        <td th:text="${transaction.id}"></td>
        <td th:text="${transaction.accountFrom}"></td>
        <td th:text="${transaction.accountTo}"></td>
        <td th:text="${transaction.amount}"></td>
        <td th:text="${transaction.date}"></td>
        <td th:text="${transaction.reference}"></td>
        <div th:if="${transaction.statusApproved == 1}">
          <td>APPROVED</td>
        </div>
        <div th:if="${transaction.statusApproved == 0}">
          <td>PENDING</td>
        </div>
        <div th:if="${transaction.statusApproved == 2}">
          <td>CANCELED</td>
        </div>
      </tr>
    </th:block>
    </tbody>
  </table>
  <br>
  <div class="ha">
  <a th:href="@{/home}" class="button transparent">Home</a></br>
  <a href="/view-accounts" class="button transparent">Back to Accounts</a>
  </div>
</div>
</main>
</body>
</html>